<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="footer">
    <meta charset="UTF-8">
    <title>footer</title>

    <link th:href="@{/css/main1.css}" rel="stylesheet">
    <!--font-->
    <link th:href="@{/img/favicon.png}" rel="shortcut icon">
</head>
<body>
            <footer>
                <h2 class="footerLogo">프렌토피아</h2>
                <div class="box">
                    <h2>
                        당신 옆의 멘토, 프렌토피아<br>
                        For Your Mentor, Frientopia
                    </h2>
                </div>
            </footer>
</body>
</html>