:root {
    --button-color: #ffffff;
    --button-bg-color: #0d6efd;
    --button-hover-bg-color: #025ce2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
section.notice {
    padding: 80px 0;
}

.page-title {
    margin-bottom: 60px;
}

.page-title h3 {
    font-size: 28px;
    color: #333333;
    font-weight: 400;
    text-align: center;
}

.board-table {
    font-size: 16px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
}
.board-table a:hover {
    text-decoration: underline;
}
.board-table th {
    text-align: center;
}

.board-table .th-num {
    width: 100px;
    text-align: center;
}

.board-table .th-author {
    width: 100px;
    text-align: center;
}

.board-table .th-date {
    width: 200px;
}

.board-table th, .board-table td {
    padding: 14px 0;
}

.board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

.board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
}

.board-table tbody th p{
    display: none;
}

button {
    background: var(--button-bg-color);
    color: var(--button-color);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 0 0 50px;
    padding: 0.5rem 1rem;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    cursor: pointer;

    transition: 0.5s;
}

button:active,
button:hover,
button:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
}
button:disabled {
    opacity: 0.5;
}