:root {
    --button-color: #ffffff;
    --button-bg-color: #0d6efd;
    --button-hover-bg-color: #025ce2;
}

.layout {
    width: 800px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.layout label {
    width: 100%;
    font-size: 20px;
    box-sizing: border-box;
}

.layout input {
    width: 100%;
    min-height: 30px;
}

.layout textarea {
    width: 100%;
    min-height: 400px;
}

button {
    background: var(--button-bg-color);
    color: var(--button-color);
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0.5rem 1rem;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;

    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    cursor: pointer;

    transition: 0.5s;
}

button:active,
button:hover,
button:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
}
button:disabled {
    opacity: 0.5;
}