.wrap {
    width: 1400px;
    height: 1000px;
    margin: 120px auto;
}

.container {
    display: flex;
}

.sideBar {
    background: #2F343D;
    padding: 20px 0 10px 10px;
    border-right: 5px solid #3F83EF;
    width: 120px;
    transition: 0.5s;
    overflow: hidden;
}

.sideBar li {
    list-style: none;
    padding: 15px;
    padding-right: 0;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.sideBar li a {
    color: white;
}

.sideBar li:hover {
    transition: 0s;
    background: #242932;
}

.sideBar li.active:before {
    content: '';
    position: absolute;
    top:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px 10px 0 #3F83EF;
}

.sideBar li.active:after {
    content: '';
    position: absolute;
    bottom:-20px;
    right: 0px;
    width: 20px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -10px 0 #3F83EF;
}

.sideBar li.active {
    background: #3F83EF;
}

#board-list {
    width: 100%;
}

button {
    margin: 0 0 10px 0;
}