<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>프렌토피아</title>

    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/mentor-find.css}" rel="stylesheet">
    <link th:href="@{/css/main1.css}" rel="stylesheet">
    <!--font-->
    <link th:href="@{imgs/favicon.png}" rel="shortcut icon">
</head>
<body>
    <header>
        <a th:href="@{/}" class="logo">프렌토피아</a>
        <nav>
            <ul class="gnb">
                <li><a href="mentor-find.html">멘토 찾기</a></li>
                <li><a href="my-wishlist.html">내 멘토링</a></li>
                <li th:if="${userName} != null"><a th:href="@{/myPage}">마이페이지</a></li>
                <li> | </li>
                <li th:if="${userName} == null"><a th:href="@{/oauth2/authorization/google}">로그인</a></li>
                <li th:if="${userName} != null" th:text="${userName} + '님, 환영합니다!'"></li>
                <li th:if="${userName} != null"><a th:href="@{/logout}">로그아웃</a></li>
            </ul>
        </nav>
    </header>
    <!-- board -->
    <section>
        <div id="main_img_bar">
			<img th:src="@{/img/main_img.png}"> <!-- 쓸모 없음 -->
		</div>
        <div class="page-title">
            <div class="container">
                <h3>현재 모집중인 멘토링 글</h3>
            </div>
        </div>
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-author">작성자</th>
                        <th scope="col" class="th-date">날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post, stat : ${posts}">
                            <td th:text="${stat.count}"></td>
                            <th>
                                <a th:href="@{/posts/update/{id}(id = ${post.getId()})}" th:text="${post.getTitle()}"></a>
                            </th>
                            <td th:text="${post.getAuthor()}"></td>
                            <td th:text="${post.getModifiedDate()}"></td>
                        </tr>
                    </tbody>
                    <a href="/posts/save" class="btn-write">게시글 작성</a>
                </table>
            </div>
        </div>
    </section>
    <!--footer-->
    <footer>
        <h2 class="footerLogo">프렌토피아</h2>
        <div class="box">
            <h2>
                당신 옆의 멘토, 프렌토피아<br>
                For Your Mentor, Frientopia
            </h2>
        </div>
    </footer>
</body>
</html>