<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프렌토피아</title>
</head>
<body>
<div class="wrap">
  <section>
    <div id="main_img_bar">
      <!--<img th:src="@{/img/main_img.png}"> &lt;!&ndash; 쓸모 없음 &ndash;&gt;-->
    </div>
    <div class="page-title">
      <div class="container">
        <h3>Video</h3>
        <button class="btn btn-primary" th:onclick="|location.href='@{/mentoring/room/{room_id}/video/post(room_id=${room_id})}'|">등록하기</button>
      </div>
    </div>
    <div id="board-list">
      <div class="container">
        <table class="board-table">
          <thead>
          <tr>
            <th scope="col" class="th-num">번호</th>
            <th scope="col" class="th-title">제목</th>
            <th scope="col" class="th-author">작성자</th>
            <th scope="col" class="th-date">날짜</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="post, stat: ${posts}">
            <td th:text="${stat.count}"></td>
            <th>
              <a th:href="@{/mentoring/room/{room_id}/video/posts/view/{id}(room_id=${room_id}, id = ${post.getId()})}" th:text="${post.getTitle()}"></a>
            </th>
            <td th:text="${post.getAuthor()}"></td>
            <td th:text="${post.getModifiedDate()}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
</body>
</html>