<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>프렌토피아</title>

    <link th:href="@{/css/main1.css}" rel="stylesheet">
    <!--font-->
    <link th:href="@{/img/favicon.png}" rel="shortcut icon">
    <link rel="stylesheet" th:href="@{./css/common.css}">
    <link rel="stylesheet" th:href="@{./css/member.css}">
    <link rel="shortcut icon" th:href=="@{img/favicon.png}">
    <link th:href="@{/css/mentor-find.css}" rel="stylesheet">
</head>
<body>
<div id="header-load" th:replace="layout/header.html :: header"></div>
    <div class="wrap">
        <section>
            <form method="post">
                    <div class="formcontainer" id="user_form" style="padding-top:30px">
                        <div><h2>마이페이지</h2></div>
                        &nbsp;&nbsp;
                        <div class="form-group">
                            <label for="Email">이메일</label>
                            <li id="Email" th:if="${userName} != null" th:text="${userEmail}"></li>
                        </div>
                        <div class="form-group">
                            <label for="Name">이름</label>
                            <li id="Name" th:if="${userName} != null" th:text="${userName}"></li>
                        </div>
                        <div class="form-group">
                            <label for="inputMajor">학과</label>
                            <input type="text" class="form-control" id="inputMajor" name="major" placeholder="학과" th:value="${userMajor}" th:required="true">
                        </div>
                        <div class="form-group">
                            <label for="Gender">성별</label>
                            <li id="Gender" th:if="${userName} != null" th:text="${userGen}"></li>
                        </div>
                        <div class="form-group">
                            <label for="inputAge">나이</label>
                            <input type="number" class="form-control" id="inputAge" name="age" placeholder="나이" th:value="${userAge}" th:required="true">
                        </div>
                        <div class="form-group">
                            <label for="inputPhoneNum">전화번호</label>
                            <input type="text" class="form-control" id="inputPhoneNum" name="phoneNum" pattern="(010)-\d{3,4}-\d{4}" title="형식 010-0000-0000" required="true" th:value="${userPhoneNum}">
                        </div>
                        <div class="form-group">
                            <label for="inputIntroduce">자기소개</label>
                            <input type="text" class="form-control" id="inputIntroduce" name="introduce" placeholder="자기소개" th:required="true" th:value="${userIntroduce}">
                        </div>
                        <button type="submit" class="btn btn-secondary" value="update" formaction="/myPage">수정</button>
                        <button type="submit" class="btn btn-secondary" value="delete" formaction="/myPage/unregister">탈퇴</button>

                        <br><br><br><br>
                        <hr style="border-top: 2px solid black; margin: 20px 0;">
                        <br>
                        <div>
                            <div class="form-group">
                                <label for="myPoint">현재 보유 포인트 : </label>
                                <input type="hidden" class="form-control" id="myPoint" name="myPoint" th:text="${userPoint} + ' 원'">
                            </div>
                            <button type="button" class="btn btn-danger" id="payment">충전하러가기</button>
                        </div>
                        <br><br><br>
                        <div>
                            <div class="form-group">
                                <label for="impUID"> * 환불은 최근 한 건만 가능합니다. </label>
                                <input type="hidden" id="impUID" name="impUID" th:value="${impUID}"/>
                                <button th:if="${impUID} != null" type="button" class="btn btn-danger" id="cancelPay">환불하러가기</button>
                                <button th:if="${impUID} == null" type="button" class="btn btn-danger" id="disableCancelPay" disabled>환불하러가기</button>
                            </div>
                        </div>
                    </div>
                </form>

        </section>
    </div>
<!--footer-->
<div id="footer-load" th:replace="layout/footer.html :: footer"></div>

<script>
    const button = document.getElementById('payment');

    button.addEventListener('click', () => {
        const url = '/payment'; // 원하는 링크의 URL을 지정해주세요
        const windowName = '프렌토피아 결제'; // 새 창의 이름을 지정해주세요
        const windowFeatures = 'width=450, height=600'; // 새 창의 속성을 지정해주세요

        window.open(url, windowName, windowFeatures);
    });
</script>

<script th:inline="javascript">
    const cancelbutton = document.getElementById('cancelPay');

    cancelbutton.addEventListener('click', () => {
        const impUID = document.getElementById('impUID').value; // impUID 값이 서버에서 정상적으로 할당되는지 확인해주세요.

        const url = '/payment/cancel?impUID=' + encodeURIComponent(impUID);
        const newWindow = window.open(url, '프렌토피아 결제 취소', 'width=450,height=600');
        newWindow.focus();
    });
</script>

</body>
</html>