<!DOCTYPE html>
<html lang = "kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>프렌토피아</title>
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/css/mentor-find.css}" rel="stylesheet">
  <link th:href="@{/css/main1.css}" rel="stylesheet">
  <link th:href="@{/css/post.css}" rel="stylesheet">
  <link th:href="@{/css/postview.css}" rel="stylesheet">
  <!--font-->
  <link th:href="@{img/favicon.png}" rel="shortcut icon">
</head>
<body>
<header>
  <a th:href="@{/}" class="logo">프렌토피아</a>
  <nav>
    <ul class="gnb">
      <li><a th:href="@{/mentor-find}">멘토 찾기</a></li>
      <li><a th:href="@{/mentoring}">내 멘토링</a></li>
      <li th:if="${userRole} != 'ADMIN'"><a th:href="@{/myPage}">마이페이지</a></li>
      <li th:if="${userRole} == 'ADMIN'"><a th:href="@{/admin}">관리페이지</a></li>
      <li> | </li>
      <li th:if="${userName} == null"><a th:href="@{/oauth2/authorization/google}">로그인</a></li>
      <li th:if="${userName} != null" th:text="${userName} + '님, 환영합니다!'"></li>
      <li th:if="${userName} != null"><a th:href="@{/logout}">로그아웃</a></li>
    </ul>
  </nav>
</header>
<div class="wrap">
  <section>
    <div id="main_img_bar"></div>
    <div class="page-title">
      <div class="container">
        <h3>멘토 찾기</h3>
      </div>
    </div>
    <div class="layout">
      <div class="board_view">
        <div class="title">
          <h3 th:utext="${post.title}"></h3>
        </div>
        <div class="info">
          <dl>
            <dt>작성자</dt>
            <dd th:text="${post.author}"></dd>
          </dl>
        </div>
        <div class="cont">
          <img th:if="${post.fileName != null}" th:src="|@{/post_upload}/${post.fileName}|"/>
          <p th:text="${post.content}"></p>
        </div>
        <div>
          <br>
          <label for="map">멘토링 위치</label>
          <br>
          <p th:text="${post.getAddress()}" readonly>
            <br>
            <div id="map" style="height: 300px;"></div>
          </p>
          <!-- 위도와 경도를 javascript로 넘겨주는 input field -->
          <input type="hidden" id="latitude" th:value="${post.getLatitude()}" style="visibility: hidden;">
          <input type="hidden" id="longitude" th:value="${post.getLongitude()}" style="visibility: hidden;">
          <br>
        </div>
      </div>
      <div style="text-align: center">
        <p th:text="'가격 : ' + ${post.getPoint()} + ' point'"></p>
        <p th:text="'신청한 멘티 수 : ' + ${menteeNum}+ ' 명'"></p>
      </div>
      <div class="bt_wrap">
        <button class="btn btn-secondary" type="list" th:onclick="|location.href='@{/mentor-find}'|">목록</button>
        <button th:if="${userEmail == postAuthorEmail}" class="btn btn-secondary" type="update" th:onclick="|location.href='@{/posts/update/{id}(id = ${post.id})}'|" th:text="수정" style="margin-left: 10px"></button>
        <button th:if="${userEmail != postAuthorEmail} and ${isApply != 1}" class="btn btn-secondary" id="apply" th:text="신청하기" style="margin-left: 10px"></button> <!-- th:onclick="|location.href='@{/api/v1/posts/mapping/{post_id}(post_id = ${post.id})}'|" -->
        <button th:if="${userEmail != postAuthorEmail} and ${isApply == 1}" class="btn btn-secondary" id="isApply" th:text="신청완료" disabled></button>
      </div>
    </div>
  </section>
</div>
<div id="footer-load" th:replace="layout/footer.html :: footer"></div>
<!--  <h1 th:text="${post.title}">제목입니다.</h1>-->
<!--  <p th:text="${post.content}">내용이 들어갈 부분입니다.</p>-->
<!--  <a th:href="@{/api/v1/posts/${post.id}">글 삭제</a>-->
<!--  &lt;!&ndash;<a th:href="@{${board.filepath}}">다운 받기</a>&ndash;&gt;-->
<!--  <a th:href="@{/api/v1/">신청</a>-->
<!--  <a th:href="@{/api/v1/posts/${post.id}">수정</a>-->

<!-- JavaScript 코드 추가 -->
<!-- apiKey 값을 스크립트로 전달하기 위해 Thymeleaf 속성을 사용합니다 -->
<script th:inline="javascript">
  var apiKey = [[${apiKey}]];
  // Google Maps API 스크립트를 동적으로 삽입합니다.
  scriptSrc = "https://maps.googleapis.com/maps/api/js?key=" + apiKey + "&callback=initMap";
  document.write('<script src="' + scriptSrc + '"><\/script>');
</script>

<script th:inline="javascript">
  // 현재 위치를 기반으로 지도를 초기화하는 함수
  function initMap() {
    var latitude = [[${post.getLatitude}]];
    var longitude = [[${post.getLongitude()}]];

    var mapOptions = {
      center: { lat: latitude, lng: longitude },
      zoom: 15
    };

    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    // 초기 위치에 마커 생성
    var marker = new google.maps.Marker({
      position: { lat: latitude, lng: longitude },
      map: map
    });
  }

  // 지도를 초기화하는 작업 수행
  initMap();



/*  const apply = document.getElementById("apply");

  apply.addEventListener('click', () => {
    alert('신청 되었습니다.')
    window.location.href = '/mentor-find';
  });*/

  const apply = document.getElementById("apply");

  apply.addEventListener('click', () => {
    fetch('/api/v1/posts/mapping/'+[[${post.id}]]) // 요청을 보내는 URL을 적절히 변경해야 합니다.
            .then(response => response.text()) // 응답을 텍스트로 변환
            .then(result => {
              if (result === '신청완료') {
                alert('신청이 완료되었습니다.');
                window.location.href = '/mentor-find';
              } else if(result === '포인트부족'){
                alert('포인트가 부족합니다.');
              } else if (result === '신청실패') {
                alert('신청이 실패되었습니다.');
              }
            })
            .catch(error => {
              console.error('에러 발생:', error);
            });
  });

</script>
</body>
</html>