<!--회원가입 페이지-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>프렌토피아</title>
    <link th:href="@{/css/main1.css}" rel="stylesheet">
    <!--font-->
    <link th:href="@{/img/favicon.png}" rel="shortcut icon">
    <link th:href="@{/css/mentor-find.css}" rel="stylesheet">
</head>
<body>
<div id="header-load" th:replace="layout/header.html :: header"></div>

    <div class="wrap">
        <section>
            <div id="main_content">
                <div id="join_box">
                    <form method="post" action="/signUp">
                        <div class="formcontainer" id="user_form" style="padding-top:30px">
                            <div><h2>회원가입</h2></div>
                            &nbsp;&nbsp;

                            <div class="form-group">
                                <label for="Email">이메일</label>
                                <li id="Email" th:if="${userName} != null" th:text="${userEmail}"></li>
                            </div>

                            <div class="form-group">
                                <label for="Name">이름</label>
                                <li id="Name" th:if="${userName} != null" th:text="${userName}"></li>
                            </div>

                            <div class="form-group">
                                <label for="inputMajor">학과</label>
                                <input type="text" class="form-control" id="inputMajor" name="major" placeholder="학과" value="컴퓨터공학과" th:required="true">
                            </div>

                            <div class="form-group">
                                <label for="inputGender">성별</label>
                                <select class="form-select" id="inputGender" name="gender" >
                                    <option value="남성">남성</option>
                                    <option value="여성">여성</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputAge">나이</label>
                                <input type="number" class="form-control" id="inputAge" name="age" placeholder="나이" value="26" th:required="true" >
                            </div>
                            <div class="form-group">
                                <label for="inputPhoneNum">전화번호</label>
                                <input type="text" class="form-control" id="inputPhoneNum" name="phoneNum" pattern="(010)-\d{3,4}-\d{4}" title="형식 010-0000-0000" required="true" value="010-1111-1111">
                            </div>
                            <div class="form-group">
                                <label for="inputIntroduce">자기소개</label>
                                <input type="text" class="form-control" id="inputIntroduce" name="introduce" placeholder="자기소개" value="안녕하세요" th:required="true">
                            </div>
                            <button type="submit" class="btn btn-secondary">가입 완료</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
<div id="footer-load" th:replace="layout/footer.html :: footer"></div>
</body>
</html>